<!--<mat-toolbar>
    <span>PVE Manager</span>
</mat-toolbar>

<mat-drawer-container class="main-container">
    <mat-drawer mode="side" opened>
        <mat-list role="list">
            <mat-list-item role="listitem"><button mat-button>Статус ВМ</button></mat-list-item>
            <mat-list-item role="listitem"><button mat-button>Информация о ноде</button></mat-list-item>
            <mat-list-item role="listitem"><button mat-button>О панели</button></mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content class="route-box-container">
        <app-list-vm></app-list-vm>
        <router-outlet />
    </mat-drawer-content>
</mat-drawer-container>

-->

<mat-toolbar>
    <span>PVE Manager</span>
</mat-toolbar>
<div class="route-box-container">
    <app-list-vm></app-list-vm>
</div>
